<nav class="navbar navbar-dark bg-primary navbar-expand-sm">
  <div class="container">
    <h1 class="navbar-brand mb-0">My app</h1>
    <div class="navbar-collapse">
      <ul class="navbar-nav nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="blog" routerLinkActive="active">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
